<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_DIR" value="logs" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{"yyyy-MM-dd'T'HH:mm:ss",CST} [%thread] %-5p:[%C-%L][%X{TrxId}] %msg%n
			</Pattern>
		</layout>
	</appender>

    <appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/ausland_weixin.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{"yyyy-MM-dd'T'HH:mm:ss",CST} [%thread] %-5p:[%C-%L][%X{TrxId}] %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/ausland_weixin.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<appender name="FILE-METRICS-HTTP"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/ausland_weixin_http_incoming.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{"yyyy-MM-dd'T'HH:mm:ss",CST} [%thread] %-5p:[%C-%L][%X{TrxId}] %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/ausland_weixin_http_incoming.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<appender name="FILE-METRICS-HTTP-CLIENT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/ausland_weixin_http_outgoing.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{"yyyy-MM-dd'T'HH:mm:ss",CST} [%thread] %-5p:[%C-%L][%X{TrxId}] %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/ausland_weixin_http_outgoing.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<logger name="com.ausland.weixin">
	    <level value="DEBUG" />
	</logger>
	<logger name="com.zaxxer.hikari">
	  <level value="INFO" />
	</logger>
	<logger name="org.apache.http.impl.conn">
		<level value="INFO" />
	</logger>
	<logger name="org.apache.http.impl.client">
		<level value="INFO" />
	</logger>
	<logger name="org.apache.http.wire">
		<!-- Set this to DEBUG when DEBUG Logs needed -->
		<level value="INFO" />
	</logger>
	
	<logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
		<level value="WARN" />
	</logger>
	
	<logger name="org.apache.commons.httpclient">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.apache.commons.configuration2">
		<level value="ERROR" />
	</logger>
	
	<logger name="java.beans.PropertyDescriptor">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.apache.commons.beanutils.converters">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.core">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.jndi">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework.web">
		<level value="ERROR" />
	</logger>
    <logger name="com.ausland.weixin.config.ClientHttpLoggingInterceptor" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILE-METRICS-HTTP-CLIENT" />
	</logger>
	<logger name="com.ausland.weixin.config.HttpLoggingFilter" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILE-METRICS-HTTP" />
	</logger>
	
	<root level="debug">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>